#postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# optional: override local port for Docker port-forwarder (if 5432 is already used)
POSTGRES_LOCAL_PORT=

#minio
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_UPLOAD_MIN_MB=0
S3_UPLOAD_MAX_MB=50
S3_ALLOWED_TYPES=image/jpeg,image/png,image/webp,image/gif

HTTP_SHUTDOWN_TIMEOUT=
HTTP_ADDR=

LOGGER_LEVEL=
LOGGER_FOLDER=

HTTP_SHUTDOWN_TIMEOUT=

AUTH_PASSWORD_SALT=
AUTH_JWT_SIGNING_KEY=
AUTH_ACCESS_TOKEN_TTL=