#postgres
POSTGRES_USER=tesr-user
POSTGRES_PASSWORD=test-password
POSTGRES_DB=concert-db

# optional: override local port for Docker port-forwarder (if 5432 is already used)
# POSTGRES_LOCAL_PORT=15432

#minio
S3_ACCESS_KEY=access-key
S3_SECRET_KEY=secret-key
S3_BUCKET_NAME=bucket-name